@import "tailwindcss";

@theme {
  --color-primary: #4F9AF7;
  --color-secondary: #78C4F8;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-aBeeZee);
  color: var(--color-cyan-950);
}

h1, h2, h3, h4, h5, h6,
button, nav, .font-title {
  font-family: var(--font-meriendaOne);
}

.font-merienda {
  font-family: var(--font-meriendaOne);
}

.font-abeeze {
  font-family: var(--font-aBeeZee);
}

.font-lickerlione {
  font-family: var(--font-leckerliOne);
}

a, button {
  cursor: pointer;
}